name: build
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Build
      uses: rocq-community/docker-coq-action@126d4ac196f8133729a1cb0d2aa1ee7106efec58
      with:
        coq_version: '8.20.1'
        ocaml_version: '4.14.2-flambda'
        # opam を使用すると問題が発生してしまって、私の能力では解決することが
        # できなかったため、代わりに make を使用する。
        custom_script: |
          # opam ではなく make を使用する場合、 [1] と [2] にあるように権限の
          # 問題を回避するためのコードが必要になる。
          #
          # [1]: https://github.com/rocq-community/docker-coq-action/blob/126d4ac196f8133729a1cb0d2aa1ee7106efec58/README.md#permissions
          # [2]: https://github.com/rocq-community/docker-coq-action/issues/70
          startGroup "Workaround permission issue"
            sudo chmod -R a=u ./
          endGroup
          sh -c ./build_makefile.sh
          sh -c ./build.sh
