name: build
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - uses: rocq-community/docker-coq-action@126d4ac196f8133729a1cb0d2aa1ee7106efec58
      with:
        coq_version: '8.20.1'
        ocaml_version: 'default'
      before_script: |
        startGroup "Workaround permission issue"
          sudo chown -R 1000:1000 .
        endGroup
    - name: Revert permissions
      if: ${{ always() }}
      run: sudo chown -R 1001:116 .
